<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% form_for(profile) do |profile| %>
<%= profile.hidden :user_id, value: current_user.id %>
            
            <!--이미지삽입-->
            
            <!--이름-->
            <%= profile.label :name %>
            <%= profile.text_field :name % >
            # 생년월일 나이
            <%= profile.label :birth %>
            <%= profile.text_field :birth % >
            # 성별
            <%= profile.label :sex %>
            <%= profile.text_field :sex % >
            # 이메일
            <%= profile.label :email %>
            <%= profile.text_field :email % >
            # 핸드폰번호
            <%= profile.label :phone_number %>
            <%= profile.text_field :phone_number % >
            # 주소
            <%= profile.label :address %>
            <%= profile.text_field :address % >
            # 자기소개
            <%= profile.label :introduce %>
            <%= profile.text_field :introduce % >
<% end %>
  

  <div class="actions">
    <%= form.submit value:'제출하기' %>
  </div>
<% end %>
